<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "main.css" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<h2>Sign in</h2>
<form class="form" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Sign In</button>
</form>
    <button type="button"><a href="/register">Sign Up </a></button><br>
    <button type="button"><a href="/accounts/password_reset">Reset Password</a></button>
</body>