{% extends "main.html" %}
{% block body %}
    <h7>Username: {{ user.username }}</h7>
    <br>
    <h7>Email: {{ user.email }}</h7>
    <hr>
    <h7>First name: {{ user.first_name }}</h7>
    <br>
    <h7>Last name: {{ user.last_name }}</h7>
    <hr>
    <a class="btn btn-outline-primary" href="/change_data">Edit</a>
    <a class="btn btn-outline-primary" href="change_password">Change password</a>
    <form method="post" action="/delete_user" onsubmit="return window.confirm('Are you sure you want to delete {{ user.username }}?')">
    {% csrf_token %}
    <input type="submit" value="Delete account" class="btn btn-outline-danger">
    </form>
{% endblock %}
