{% extends "main.html" %}

{% block body %}

    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="message message-{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    <table class="table table-bordered table-striped">
    <tr>
        <th class="col-xs-1">{{ char.c_class.name }} Spells</th>
        <th>Range</th>
        <th>Duration</th>
        <th>Can use (number of times)</th>
        <th></th>
    </tr>
    {% for spell in spells %}
        {% if spell.can_show %}
        <tr>
        <td class="w-25">{{ spell.name }}</td>
        <td>{{ spell.range }} </td>
        <td>{{ spell.duration }}</td>
        <td>{% if spell.uses %}{{ spell.uses }} {% endif %}</td>
        <td><a class="btn btn-success" href="/add_spell/{{ char.pk }}/{{ spell.pk }}">{% if char.c_class.name == 'Wizard' %}Add{% else %}Prepare{% endif %}</a></td>
        </tr>
        <tr>
        <td class="w-25">{{ spell.desc }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </tr>
        {% endif %}
    {% endfor %}
    </table>
    <a class="btn btn-success" href="/char/{{ char.pk }}">Finish</a>
{% endblock %}