{% extends "main.html" %}

{% block body %}
    <form method="post" action="/create_adventure">
    {% csrf_token %}
        Name:
        <br>
        <input type="text" name="name">
        <br>
        Plot:
        <br>
        <textarea rows = "5" cols = "60" name = "desc"></textarea>


    <input type="submit" value="Create">
    </form>
{% endblock %}