{% extends "main.html" %}

{% block body %}
    <form method="post" action="/adv_results/{{ adventure.pk }}/{{ char.pk }}">
    {% csrf_token %}
        <div class="form-row">
                Xp:
                <br>
                <input type="number" name="xp" min="0" max="99999">
                &nbsp
                Monsters killed:
                <br>
                <input type="number" name="kills" min="0" max="99999">
        </div>
        <br>
        Notes:
        <br>
        <textarea rows = "5" cols = "60" name = "notes"></textarea>
        <br>
        <input type="submit" value="Add" class="btn btn-success">
    </form>
{% endblock %}