{% extends "main.html" %}

{% block body %}
    <h2>{{ adventure.name }}</h2>
    <form method="post" action="/adventure/{{ adventure.pk }}/join_adventure">
    {% csrf_token %}
        <select name="character">
            {% for char in chars %}
                <option value="{{ char.pk }}">{{ char.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Join adventure">
    </form>
    <table class="table table-bordered">
        <thead><b>Characters in adventure</b></thead>
    <th>Character</th>
    <th>User</th>
    <th>Notes</th>
    <th>Monsters killed</th>
    <th>Add Notes</th>
    {% for adv in c_adventure %}
        <tr>
            <td>{{ adv.char_id.name }}</td>
            <td>{{ adv.char_id.user.username }}</td>
            <td>{% if adv.notes %}{{ adv.notes }}{% else %}-{% endif %}</td>
            <td>{{ adv.kills }}</td>
            <td>
            <a href="/adv_results/{{ adv.adventure.pk }}/{{ adv.char_id.pk }}" class="btn btn-success">Add notes</a>
            </td>
        </tr>
    {% endfor %}
    </table>

    <h4>Adventure plot</h4>
    <p>{{ adventure.desc }}</p>
{% endblock %}