{% extends "main.html" %}
{% block body %}
    <h2>List of adventures</h2>
    <a class="btn btn-success" href="/create_adventure">Create new adventure</a>
    <br>
    {% for adv in adventures%}
        <a href="/adventure/{{ adv.pk }}">{{ adv.name }}</a>
        <br>
    {% endfor %}

{% endblock %}