{% extends "main.html" %}

{% block title %} Chars {% endblock %}


{% block body %}
    <table class="table table-bordered" style="width: 30%">
        <th>Name</th>
        <th>Class</th>
        <th>Level</th>
        <th>Level up</th>
        <th>Inventory</th>
        <th>Spellbook</th>
        <th>Delete character</th>
        <th>Edit character</th>
        {% for char in chars %}
            <tr>
                <td><a href="/char/{{ char.id }}">{{ char.name }}</a></td>
                <td>{{ char.c_class.name }}</td>
                <td>{{ char.level }}</td>
                <td>
                    <form action="/char/{{ char.pk }}/level_up" method="post">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-success" value="Level Up ⇧">
                    </form>
                </td>
                <td><a href="/char/{{ char.pk }}/inventory">🎒</a></td>
                <td>{% if char.c_class.name == 'Wizard' or char.c_class.name == 'Cleric'%}<a href="/spellbook/{{ char.pk }}">📖</a>{% else %}-{% endif %}</td>
                <td>
                    <form method="post" action="/delete_char/{{ char.pk }}" onsubmit="return window.confirm('Are you sure you want to delete {{ char.name }}?')">
                        {% csrf_token %}
                        <input type="submit" value="❌" class="btn">
                    </form>
                </td>
                <td>
                    <a href="/edit_char/{{ char.pk }}">✏️</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
