{% extends 'main.html' %}
{% block body %}
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="message message-{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}


    <table class="table table-light table-bordered table-striped">
        <tr>
            <td><span class="badge badge-danger">A</span></td>
            <th colspan="5">Character name</th>
            <td colspan="5">Race: {{char.race.name}}</td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2">{{char.name}}</td>
            <td>Alignment: {{ char.alignment.name }}</td>
            <td>Gender: {{ char.gender }}</td>
            <td></td>
            <td colspan="3">Class: {{ char.c_class.name }}</td>
            <td>XP: {{char.xp}}</td>
            <td>Level: {{ char.level }}</td>
        </tr>
        <tr>
            <td colspan="11"></td>
        </tr>
        <tr>
            <td><span class="badge badge-danger">B</span></td>
            <th colspan="2">Characteristics</th>
            <th colspan="2">Modifiers</th>
            <td></td>
            <td><span class="badge badge-danger">F</span></td>
            <th colspan="2">Class features</th>
            <td colspan="2">HP: {{char.hp}}</td>
        </tr>
        <tr>
            <td></td>
            <td>Strength</td>
            <td>{{ char.strength }}</td>
            <td>STR</td>
            <td>{{ char.STR }}</td>
            <td></td>
            <td>Fortitude save</td>
            <td>{{ char.fort_save }}<br><small>class</small></td>
            <td>{{ char.CON }}<br><small>con</small></td>
            <td>0<br><small>misc</small></td>
            <td>{{ char.total_fort_save }}<br><small>total</small></td>
        </tr>
        <tr>
            <td></td>
            <td>Dexterity</td>
            <td>{{ char.dexterity }}</td>
            <td>DEX</td>
            <td>{{ char.DEX }}</td>
            <td></td>
            <td>Reflex save</td>
            <td>{{ char.ref_save }}<br><small>class</small></td>
            <td>{{ char.DEX }}<br><small>dex</small></td>
            <td>0<br><small>misc</small></td>
            <td>{{ char.total_ref_save }}<br><small>total</small></td>
        </tr>
        <tr>
            <td></td>
            <td>Constitution</td>
            <td>{{ char.constitution }}</td>
            <td>CON</td>
            <td>{{ char.CON }}</td>
            <td></td>
            <td>Will save</td>
            <td>{{ char.will_save }}<br><small>class</small></td>
            <td>{{ char.WIS }} <small>wis</small></td>
            <td>0<br><small>misc</small></td>
            <td>{{ char.total_will_save }}<br><small>total</small></td>
        </tr>
        <tr>
            <td></td>
            <td>Intelligence</td>
            <td>{{ char.intelligence }}</td>
            <td>INT</td>
            <td>{{ char.INT }}</td>
            <td></td>
            <td colspan="2">Attack bonus</td>
            <td>{{ char.atk_bonus }}</td>
            <td>SKILL RANKS</td>
            <td>{{ char.skill_ranks }}</td>
        </tr>
        <tr>
            <td></td>
            <td>Wisdom</td>
            <td>{{ char.wisdom }}</td>
            <td>WIS</td>
            <td>{{ char.WIS }}</td>
            <td></td>
            <td colspan="5">
                {% if class_feats|length > 0 %}
                    {{ class_feats.0 }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Charisma</td>
            <td>{{ char.charisma }}</td>
            <td>CHA</td>
            <td>{{ char.CHA }}</td>
            <td></td>
            <td colspan="5">
                {% if class_feats|length > 1 %}
                    {{ class_feats.1 }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td colspan="5"></td>
            <td>&ensp;</td>
            <td colspan="5"></td>
        </tr>
        <tr>
            <td><span class="badge badge-danger">C</span></td>
            <th colspan="4">Racial traits</th>
            <td></td>
            <td colspan="5">
                {% if class_feats|length > 2 %}
                    {{ class_feats.2 }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2" id="rt_speed"></td>
            <td colspan="2" id="rt_0"></td>
            <td></td>
            <td colspan="5">
                {% if class_feats|length > 3 %}
                    {{ class_feats.3 }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2" id="rt_1"></td>
            <td colspan="2" id="rt_2"></td>
            <td></td>
            <td colspan="5">
                {% if class_feats|length > 4 %}
                    {{ class_feats.4 }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                <span class="badge badge-danger">D</span>
            </td>
            <th colspan="4">
                Skills
            </th>

            <td>

            </td>
            <td><span class="badge badge-danger">G</span></td>
            <th colspan="4">
                Weapons and attacks
            </th>
        </tr>
        <tr>
            <td rowspan="10"></td>
            <td colspan="4" rowspan="10">
            <!--TODO css + new table-->
            <table class="table table-light table-bordered table-striped">
                <tr>
                    <th>Skill</th>
                    <th>Class skill?</th>
                    <th>Ranks</th>
                    <th>Ability</th>
                    <th>Misc</th>
                    <th>Total</th>
                </tr>
                {% for c_skill in c_skills %}
                <tr>
                    <td class="trained">{{ c_skill.skill_id.name }}{% if c_skill.skill_id.trained%}*{% endif %}</td>
                    <td><input type="checkbox" disabled {% if c_skill.is_class%}checked{% endif %}>  </td>
                    <td>{{ c_skill.ranks }}</td>
                    <td>{{ c_skill.print_modifier }}
                        {% if c_skill.print_modifier != "" %}
                        <br><small>{{ c_skill.skill_id.modifier }}</small>
                        {% endif %}
                    </td>
                    <td>{{ c_skill.misc }}</td>
                    <td>{{ c_skill.total}}</td>
                </tr>
                {% endfor %}
            </table>
            </td>
            <td rowspan="1"></td>
            <td></td>
            <td rowspan="1" colspan="4">
                <table>
                    <tr>
                        <td>Initiative</td>
                        <td>{{ char.improved_initiative }}<br><small>improved initiative</small></td>
                        <td>{{ char.DEX }}<br><small>dex</small></td>
                        <td>=</td>
                        <td>{{ char.total_initiative }}<br><small>total</small></td>
                    </tr>
                    <tr>
                        <td>Melee atack</td>
                        <td>{{ char.atk_bonus }}<br><small>attack bonus</small></td>
                        <td>{{ char.STR }}<br><small>str</small></td>
                        <td>=</td>
                        <td>{{ char.total_melee }}<br><small>total</small></td>
                    </tr>
                    <tr>
                        <td>Ranged attack</td>
                        <td>{{ char.atk_bonus }}<br><small>attack bonus</small></td>
                        <td>{{ char.DEX }}<br><small>dex</small></td>
                        <td>=</td>
                        <td>{{ char.total_ranged }}<br><small>total</small></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td rowspan="1" colspan="6"></td>
        </tr>
        <tr>
            <td>

            </td>
            <td><span class="badge badge-danger">H</span></td>
            <th colspan="4">Armor and armor class</th>
        </tr>
        <tr>
            <td></td>
            <td><span style="font-size:75px">&#9633;</span> <br><small>armor</small></td>
            <td><span style="font-size:75px">&#9633;</span> <br><small>shield</small></td>
            <td><br><span style="font-size:35px">{{ char.DEX }}</span><br><small>dex</small></td>
            <td><span style="font-size:75px">&#9633;</span> <br><small>magic</small></td>
            <td><span style="font-size:75px">&#9633;</span> <br><small>total</small></td>
        </tr>
        <tr>
            <td colspan="6"></td>
        </tr>
        <tr>
            <td>
            </td>
            <td><span class="badge badge-danger">I</span></td>
            <th colspan="4">Feats</th>
        </tr>
        <tr>
            <td rowspan="4"></td>
            <td rowspan="4" colspan="5">
                <table>
                    <tr>
                        <th>Feature</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        {% for feat in feats %}
                            <tr>
                                <td>
                                    {{ feat.feat_id.name }}
                                </td>
                                <td>
                                    {{ feat.feat_id.benefit }}
                                </td>
                            </tr>

                        {% endfor %}
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    
    <script type="text/javascript">

        function get(url, p){
            let httpreq = new XMLHttpRequest();
            httpreq.open("GET", url + '/' + p,false);
            httpreq.send(null);
            return httpreq.responseText;
        }

        function traits() {
            let race_pk = {{char.race.pk}};
            let json = JSON.parse(get('/race_traits', race_pk.toString()));
            let rt_speed = document.getElementById("rt_speed");

            if (json.speed !== undefined)
                rt_speed.innerHTML = "Speed " + json.speed + " feet";

            for (let i = 0; i < 3; i++) {
                if (json.traits[i] !== undefined)
                    document.getElementById("rt_" + i.toString()).innerHTML = json.traits[i];
            }
        }

        window.onload = traits;
    </script>

    
{% endblock %}
