{% extends "main.html" %}

{% block body %}
    <table id="sk" class="table table-bordered table-sm" style="width: 30%" >
    <thead>Skills</thead>
    <tr>
        <td>Skill Name</td>
        <td>Class Skill</td>
        <td>Ranks</td>
        <td></td>
        <td>Ability mod</td>
        <td></td>
        <td>Misc</td>
        <td></td>
        <td>Total</td>
        <td></td>
    </tr>
        {% for c_skill in c_skills %}
        <tr >
            <td><label for="{{ c_skill.skill_id.name }}">{{ c_skill.skill_id.name }}</label></td>
            <td><input class="cb" name="{{ c_skill.skill_id.name }}" type="checkbox" {% if c_skill.is_class %}checked{% endif %} disabled="disabled"></td>
            <td>{{ c_skill.ranks }}</td>
            <td><span class="badge badge-dark">+</span></td>
            <td>{{ c_skill.print_modifier}}</td>
            <td><span class="badge badge-dark">+</span></td>
            <td>{{ c_skill.misc }}</td>
            <td><span class="badge badge-dark">=</span></td>
            <td>{{ c_skill.total }}</td>
            <td>
                <form action="/train/{{ char.pk }}/{{ c_skill.pk }}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-success" value="Up" type="submit">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>


    <table class="table table-bordered table-striped">
    <tr>
        <th class="col-xs-1">Feats</th>
        <th class="col-xs-1">Requirements</th>
    </tr>
    {% for feat in feats %}
        <tr>
        <td class="w-25">{{ feat.name }}</td>
        <td>{{ feat.req }}</td>
        <td><a class="btn btn-success" href="/add/{{ char.pk }}/{{ feat.pk }}">Add</a></td>
        </tr>
        <tr>
        <td class="w-25">{{ feat.benefit }}</td>
        </tr>
    {% endfor %}
    </table>

    <a href="/get_items/{{ char.pk }}" class="btn btn-success">Next section</a>
{% endblock %}