{% extends "main.html" %}
{% block head %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static "javascript/create_items.js" %}"></script>
{% endblock %}
{% block body %}

<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="rd" id="si" value="option1" onclick="rb_click('sid', 'ard', 'wpd')">
  <label class="form-check-label" for="si">Item</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="rd" id="ar" value="option2" onclick="rb_click('ard','sid','wpd')">
  <label class="form-check-label" for="ar">Armor</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="rd" id="wp" value="option3" onclick="rb_click('wpd','sid','ard')">
  <label class="form-check-label" for="wp">Weapon</label>
</div>


<div id="ard">
    <form class="form-inline">
    {% csrf_token %}
    Name <input type="text" name="name">
    Description<input type="text" name="desc">
    Price<input type="number" name="price_i">
    <input type="submit" name="Submit">
    </form>
</div>
<div id="wpd" >
    <form class="form-inline">
    {% csrf_token %}
    Name <input type="text" name="name">
    Description<input type="text" name="desc">
    Price<input type="number" name="price_i">
    <input type="submit" name="Submit">
    </form>
</div>

    <div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Gear
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
       <div id="sid" >
        <form >
        {% csrf_token %}
        {{ form }}
        </form>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Collapsible Group Item #2
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>


{% endblock %}

