{% extends "main.html" %}

{% block body %}
    <h2 class="h1">Create your character</h2>
    <form action="create_char" method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="col-sm-2">
            Name <input type="text" name="name" class="form-control"   {% if validation.name.value != None %} value="{{ validation.name.value|stringformat:'s' }}"  {% endif %}>
            {{ validation.name.errors }}
              Race<select id="rc" name="race" class="form-control" onchange="race_desc('rc', 'cng1')">
                <option hidden disabled {% if validation.race.value == None %} selected {% endif %} value> </option>
                {% for race in races %}
                    <option value="{{ race.pk }}" {% if validation.race.value == race.pk|stringformat:'s' %} selected {% endif %}>{{ race.name }}</option>
                {% endfor %}
            </select>
        {{ validation.race.errors }}
        <p  id="cng1">
        </p>
         School <select name="school" id="school_select" class="form-control" {% if validation.school.value == None and not validation.school.errors %}disabled{% endif %}>
            <option hidden disabled {% if validation.school.value == None %} selected {% endif %} value>  </option>
            {% for school in schools %}
            <option value="{{ school.pk }}" {% if validation.school.value == school.pk|stringformat:'s' %} selected {% endif %}>
                {{ school.name }}
            </option>
            {% endfor %}
        </select>
        {{ validation.school.errors }}

        Weapon <select id="mwp" name="mwp" class="form-control" {% if validation.mwp.value == None and not validation.mwp.errors %}disabled{% endif %}>
            <option hidden disabled {% if validation.mwp.value == None %} selected {% endif %} value></option>
            {% for item in items %}
                <option value="{{ item.pk }}" {% if validation.mwp.value == item.pk|stringformat:'s' %} selected {% endif %}>
                    {{ item.name }}
                </option>
            {% endfor %}
         </select>
        {{ validation.mwp.errors }}
        </div>


    <div class="col-sm-2">
        Gender: <input type="text" name="gender" class="form-control" {% if validation.gender.value != None %} value="{{ validation.gender.value|stringformat:'s' }}"  {% endif %}>
           {{ validation.gender.errors }}
            Class<select id="cl" name="c_class" class="form-control" onchange="class_desc('cl', 'cng3')">
            <option hidden disabled {% if validation.c_class.value == None %} selected {% endif %} value> </option>
            {% for class in classes %}
                <option value="{{ class.pk }}" {% if validation.c_class.value == class.pk|stringformat:'s' %} selected {% endif %}>
                    {{ class.name }}
                </option>
            {% endfor %}
        </select>
        {{ validation.c_class.errors }}
        <p  id="cng3">
        </p>

        God <select name="god" id="god_select" class="form-control" {% if validation.god.value == None and not validation.god.errors %}disabled{% endif %}>
            <option hidden disabled {% if validation.god.value == None %} selected {% endif %} value>  </option>
            {% for god in gods %}
            <option value="{{ god.pk }}" {% if validation.god.value == god.pk|stringformat:'s' %} selected {% endif %}>
                {{ god.name }}
            </option>
            {% endfor %}
        </select>
        {{ validation.god.errors }}

    </div>
    <div class="col-sm-1">
    Alignment
        <select id="al" name="align" class="form-control" onchange="align_desc('al', 'cng2')">
            <option hidden disabled {% if validation.align.value == None %} selected {% endif %} value>  </option>
            {% for align in aligns %}
                <option value="{{ align.pk }}" {% if validation.align.value == align.pk|stringformat:'s' %} selected {% endif %}>
                    {{ align.name }}
                </option>
            {% endfor %}
        </select>
        {{ validation.align.errors }}
        <p  id="cng2">
        </p>

    </div>
    <div class="col-sm-1">
        Xp<input type="text" name="xp" class="form-control" {% if validation.xp.value != None %} value="{{ validation.xp.value|stringformat:'s' }}"  {% endif %}>
    </div>
    <div class="col-md-4">

    <table class="table table-responsive">
        <tr>
             <p id="rl">Press roll if needed and write down each number in any order.
                Alternatively, you can roll 4d6 and add together the best three numbers.
            </p>
            <button type="button" onclick="roll()">Roll</button>
            <input readonly id="res" type="text">

        </tr>
        <tr>
            <td>Strength
                <input class="form-control" required type="number" name="str" max="20" min="3" {% if validation.str.value != None %} value="{{ validation.str.value|stringformat:'s' }}"  {% endif %}>
            </td>
        </tr>
        <tr>
            <td>Dexterity
                <input class="form-control" required type="number" name="dex" max="20" min="3" {% if validation.dex.value != None %} value="{{ validation.dex.value|stringformat:'s' }}"  {% endif %}>
            </td>
        </tr>
        <tr>
            <td>Constitution
                <input class="form-control" required type="number" name="con" max="20" min="3" {% if validation.con.value != None %} value="{{ validation.con.value|stringformat:'s' }}"  {% endif %}>
            </td>
        </tr>
        <tr>
            <td>Intelligence
                <input class="form-control" required type="number" name="int" max="20" min="3" {% if validation.int.value != None %} value="{{ validation.int.value|stringformat:'s' }}"  {% endif %}>
            </td>
        </tr>
        <tr>
            <td>Wisdom
                <input class="form-control" required type="number" name="wis" max="20" min="3" {% if validation.wis.value != None %} value="{{ validation.wis.value|stringformat:'s' }}"  {% endif %}>
            </td>
        </tr>
        <tr>
            <td>Charisma
                <input class="form-control" required type="number" name="cha" max="20" min="3" {% if validation.cha.value != None %} value="{{ validation.cha.value|stringformat:'s' }}"  {% endif %}>
            </td>
        </tr>
    </table>
        <p id="cond"></p>
    </div>
    </div>

    <div class="col-sm-1">

    </div>
        <input class="btn" type="submit" name="Next section">
    </form>

        <script type="text/javascript">
        let race_info = {
            {% for race in races %}
                {{race.pk}} : "{{ race.short_desc }}",
            {% endfor %}
        }

        let align_info = {
            {% for align in aligns %}
                {{align.pk}} : "{{ align.desc }}",
            {% endfor %}
        }

          let class_info = {
            {% for class in classes %}
                {{class.pk}} : "{{ class.desc }}",
            {% endfor %}
        }

        let speed = {
            {% for race in races %}
                {{race.pk}} : "{{ race.speed }}",
            {% endfor %}
        }


        let p_ids = ['cng1', 'cng2', 'cng3'];

        function race_desc(opt_id, p_id) {
            let rpk = document.getElementById(opt_id).value;
            document.getElementById(p_id).innerHTML = race_info[rpk];
            document.getElementById(p_id).style.visibility = "visible";
            hide_p(p_id);
            let op = document.getElementById(opt_id);

            if (op.options[op.selectedIndex].text === 'Human'){
               document.getElementById("cond").innerHTML = "Humans add 2 to one ability score of your choice";
            }
            else{
              document.getElementById("cond").innerHTML = "";
            }
        }

          function class_desc(opt_id, p_id) {
            let op = document.getElementById(opt_id);
            document.getElementById(p_id).innerHTML = class_info[document.getElementById(opt_id).value];
            document.getElementById(p_id).style.visibility = "visible";
            hide_p(p_id);
            if (op.options[op.selectedIndex].text === 'Wizard'){
               document.getElementById("school_select").disabled = false;
               document.getElementById("mwp").disabled = false;
            }
            else {
                document.getElementById("school_select").disabled = true;
                document.getElementById("mwp").disabled = true;
                document.getElementById("school_select").selectedIndex = 0;
                document.getElementById("mwp").selectedIndex = 0;
            }

              if (op.options[op.selectedIndex].text === 'Cleric'){
               document.getElementById("god_select").disabled = false;
            }
            else {
                document.getElementById("god_select").disabled = true;
                document.getElementById("god_select").selectedIndex = 0;
            }
        }

          function align_desc(opt_id, p_id) {
            document.getElementById(p_id).innerHTML = align_info[document.getElementById(opt_id).value];
            document.getElementById(p_id).style.visibility = "visible";
            hide_p(p_id);
        }

        function hide_p(p_id){
            for(var i = 0; i < p_ids.length; i++){
                if (p_ids[i] != p_id){
                   document.getElementById(p_ids[i]).innerHTML = "";
                }
            }
            return true;
        }

        function roll() {
            let arr = [0, 0, 0, 0, 0, 0];
            let i = 0;
            while(i < 6){
                let tmp = 0;
                let a = [];
                for (let j = 0; j < 4; j++){
                    a[j] =  Math.floor(Math.random() * 6) + 1;
                    tmp+= a[j];
                    console.log('array  ' + a[j]);
                }
                tmp -= Math.min(...a);
                console.log(tmp);
                arr[i] = tmp;
                i++;
            }
            document.getElementById('res').value = arr.join();

        }


    </script>
{% endblock %}