{% extends "main.html" %}

{% block body %}
    <h1>Edit character</h1>
    <form action="/edit_char/{{ char.pk }}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn">
    </form>
{% endblock %}