{% extends "main.html" %}

{% block body %}
    <a href="/create_item/{{ char.pk }}" class="btn btn-warning">Create item</a>
    <a href="/get_items/{{ char.pk }}" class="btn btn-secondary">Buy items</a>
    <div class="accordion" id="accordionItems">
    {% for item in items %}

    <div class="card">
    <div class="card-header" id="heading{{ item.pk }}">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ item.pk }}" aria-expanded="true" aria-controls="collapse{{ item.pk }}">
          {{ item.item_id.name }} {% if item.amount > 1 %}x{{ item.amount }}{% endif %}
        </button>
      </h2>
    </div>
        <div id="collapse{{ item.pk }}" class="collapse" aria-labelledby="heading{{ item.pk }}" data-parent="#accordionItems">
      <div class="card-body">

          {% if item.item_id.is_weapon %}
           <table class="table table-bordered">
                <tr>
                    <td>Weapon type</td>
                    <td>Hands</td>
                    <td>Weapon range</td>
                    <td>Ammo</td>
                    <td>Damage</td>
                    <td>Crit</td>
                    <td>Description</td>
                    <td>Price</td>
                </tr>
                <tr>
                    <td>{% if item.item_id.w_type %}{{ item.item_id.w_type}}{% else %}-{% endif %}</td>
                    <td>{% if item.item_id.hands %}{{item.item_id.hands}}{% else %}-{% endif %}</td>
                    <td>{% if item.item_id.w_range %}{{item.item_id.w_range}}{% else %}-{% endif %}</td>
                    <td>{% if item.item_id.ammo %}{{item.item_id.ammo}}{% else %}-{% endif %}</td>
                    <td>{% if item.item_id.damage %}{{item.item_id.damage}}{% else %}-{% endif %}</td>
                    <td>{% if item.item_id.crit %}{{item.item_id.crit}}{% else %}-{% endif %}</td>
                    <td>{% if item.item.item_id.desc %}{{item.item_id.desc }}{% else %}-{% endif %}</td>
                    <td>{{ item.item_id.price }} cp</td>
                </tr>
           </table>

          {% elif item.item_id.is_armor %}
              <table class="table table-bordered">
                  <tr>
                  <td>Description</td>
                  <td>Price</td>
                  <td>Armor type</td>
                  <td>Armor class</td>
                  </tr>
                  <tr>
                  <td>{% if item.item.item_id.desc %}{{item.item_id.desc }}{% else %}-{% endif %}</td>
                  <td>{{ item.item_id.price }} cp</td>
                  <td>{{item.item_id.a_type }}</td>
                  <td>{{item.item_id.a_class }}</td>
                  </tr>
              </table>
          {% else %}
              <table class="table table-bordered">
                  <tr>
                  <td>Description</td>
                  <td>Price</td>
                  </tr>
                  <tr>
                  <td>{% if item.item.item_id.desc %}{{item.item_id.desc }}{% else %}-{% endif %}</td>
                  <td>{{ item.item_id.price }} cp</td>
                  </tr>
              </table>
          {% endif %}

      </div>
    </div>
  </div>
    {% endfor %}
    </div>
{% endblock %}