{% extends "main.html" %}

{% block body %}
    Cp: {{ char.cp }}
<table class="table">
    <th>Items</th>
    <tr>
    <td>
        <table class="table table-bordered">
        <th>Gear</th>
         {% for item in items %}
            {% if item.can_buy and not item.is_weapon and not item.is_armor %}
            <tr>
                <td>
                    {{ item.name }} - {{ item.price }}cp
                    <form class="form-group" method="post" action="/buy/{{ char.pk }}/{{ item.pk }}">
                        {% csrf_token %}
                        Amount: <input  type="number" name="amount" max="999999999" min="1">
                        <input type="submit" class="btn btn-success" value="Buy">
                    </form>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </table>
    </td>
    <td>
        <table class="table table-bordered">
        <th>Weapons</th>
            {% for item in items %}
               {% if item.can_buy and item.is_weapon %}
                <tr>
                    <td>{{ item.name }} - {{ item.price }}cp <a class="btn btn-success" href="/buy/{{ char.pk }}/{{ item.pk }}">Buy</a></td>
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </td>
    <td>
        <table class="table table-bordered">
            <th>Armor</th>
            {% for item in items %}
               {% if item.can_buy and item.is_armor %}
                <tr>
                    <td>{{ item.name }} - {{ item.price }}cp <a class="btn btn-success" href="/buy/{{ char.pk }}/{{ item.pk }}">Buy</a></td>
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </td>
    </tr>


    </table>
    <a class="btn btn-success" href="/add_spells/{{ char.pk }}">{% if char.c_class.name == "Wizard" %}Next section{% else %}Finish{% endif %}</a>
{% endblock %}