{% extends "main.html" %}

{% block title %} Index {% endblock %}

{% block body %}
    <table>
    {% load static %}

    <tr>
        <td><img src="{% static "1.png" %}" alt="1" width="870px" height="1054px"></td>
        <td><img src="{% static "2.png" %}" alt="1" width="870px" height="1054px"></td>
    </tr>
    <tr>
        <td><img src="{% static "3.png" %}" alt="1" width="870px" height="1054px"></td>
        <td><img src="{% static "4.png" %}" alt="1" width="870px" height="1054px"></td>
    </tr>
    <tr>
        <td><img src="{% static "5.png" %}" alt="1" width="870px" height="1054px"></td>
        <td><img src="{% static "6.png" %}" alt="1" width="870px" height="1054px"></td>
    </tr>
    <tr>
        <td><img src="{% static "7.png" %}" alt="1" width="870px" height="1054px"></td>
        <td><img src="{% static "8.png" %}" alt="1" width="870px" height="1054px"></td>
    </tr>
    <tr>
        <td><img src="{% static "9.png" %}" alt="1" width="870px" height="1054px"></td>
        <td><img src="{% static "10.png" %}" alt="1" width="870px" height="1054px"></td>
    </tr>
    </table>
{% endblock %}