<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Title {% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "main.css" %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% block head %}
{% endblock %}
</head>

<body class="bd">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav">
        <li>
            <a class="nav-link" href="/">Home</a>
        </li>
      <li class="nav-item">
          <a class="nav-link" href="/create">Create</a>
      </li>
        <li class="nav-item ">
            <a class="nav-link" href="/chars">Characters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/info">Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/adventures">Adventures</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item "><a class="nav-link" href="/accounts/logout">Sign Out</a></li>
        <li class="nav-item "><a class="nav-link" href="/account">Profile</a></li>
        {% else %}
        <li class="nav-item "><a class="nav-link" href="/accounts/login">Sign In</a></li>
        {% endif %}
    </ul>
</nav>
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} style="list-style: none;">{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
{% block body %}
<h1 class="h1" align="center">Pathfinder</h1>
<h1 class="h1" align="center">Character Generator</h1>
<br><p>This web page is supposed to assist its user in creating characters for The Pathfinder Roleplaying Game Beginner Box Edition</p>
    <p><a href="https://en.wikipedia.org/wiki/Pathfinder_Roleplaying_Game">The Pathfinder Roleplaying Game</a> is a fantasy role-playing game (RPG) that was published in 2009 by Paizo Publishing.
    <br>Beginner Box description:<br>
        Take your first step into an exciting world of fantasy adventure with the Pathfinder Roleplaying Game Beginner Box!<br>
        Within you'll find simple rules to create and customize your own hero, as well as a robust system to run your character through challenging adventures and deadly battles against villainous monsters like goblins and dragons!<br>
        The only limit is your imagination!
    </p>
    <img src="https://images-na.ssl-images-amazon.com/images/I/81PQvfoNQJL._SL1479_.jpg" alt="Beginner box" width="40%" height="20%">
    <img src="https://www.magicmadhouse.co.uk/images/pathfinder-rpg-beginner-box-p234377-214494_medium.jpg" alt="Beginner box 2" align="right" width="40%">
{% endblock %}


</body>
</html>