{% extends "main.html" %}

{% block body %}
{% if char.c_class.name == 'Wizard'%}<a href="/add_spells/{{ char.pk }}" class="btn btn-success">Add spells</a>{% endif %}
<table class="table table-bordered table-striped">
    <tr>
        <th class="col-xs-1">Spells</th>
        <th>Range</th>
        <th>Duration</th>
        <th>Can use (number of times)</th>
    </tr>
    {% for spell in spellbook %}
        <tr>
        <td class="w-25">{{ spell.spell_id.name}}</td>
        <td>{{ spell.spell_id.range }} </td>
        <td>{{ spell.spell_id.duration }}</td>
        <td>{% if spell.uses %}{{ spell.uses }} {% endif %}</td>
        </tr>
        <tr>
        <td colspan="4" class="w-25">{{ spell.spell_id.desc }}</td>

        </tr>
    {% endfor %}
    </table>

{% endblock %}